<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
        <h1 class="mat-h1">Oferta Educativa de Pregrado</h1>
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><a href="" class="item"> Ingeniería Forestal</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Ingeniería en Agronomía</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Economía</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Contabilidad y Finanzas</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Gestión Sociocultural para el Desarrollo</a>
          </mat-list-item>

          <mat-list-item role="listitem"
            ><a href="" class="item">Ingeniería Informática</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Ingeniería Geológica</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Ingeniería Mecánica</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Cultura Física</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Educación Primaria</a>
          </mat-list-item>

          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Educación Especial</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Educación Preescolar</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Educación Psicología</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="" class="item">Licenciatura en Educación Logopedia</a>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
          <h1 class="mat-h1">Revistas Científicas</h1>
          <mat-list role="list">
            <mat-list-item role="listitem"
              ><a href="http://coodes.upr.edu.cu/" class="item"> Revista COODES</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="http://cifam.upr.edu.cu/" class="item"> Revista CIFAM</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="http://cfores.upr.edu.cu/" class="item"> Revista CFORES</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="http://podium.upr.edu.cu/" class="item"> Revista Pódium</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="http://mendive.upr.edu.cu/" class="item"> Revista Mendive</a>
            </mat-list-item>
          </mat-list>
        </div>

      <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
          <h1 class="mat-h1">Oferta Educativa de Pregrado</h1>
          <mat-list role="list">
            <mat-list-item role="listitem"
              ><a href="" class="item"> Doctorado en Ciencias Pedagógicas</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Doctorado en ciencias de la Educación</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Doctorado en Ciencias Forestales</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Doctorado en Ciencias Geológicas</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Ciencias de la Educación</a>
            </mat-list-item>

            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Ciencias Forestales</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Agroecología y Agricultura sostenible</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Gestión Ambiental</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Administración de Empresas Agropecuarias</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Educación</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Maestría en Informática Aplicada</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              >
            </mat-list-item>

            <mat-list-item role="listitem"
              ><h1 class="mat-h1" style="color: #13632f;">Oferta de Diplomado en Áreas de</h1>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Comunicación Institucional</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Medio Ambiente y Recursos Naturales</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Ciencias de Educación Superior</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Desarrollo</a>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><a href="" class="item">Deporte</a>
            </mat-list-item>
          </mat-list>
        </div>
  </div>
</article>
