<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
    <div style="padding-top: 10px;" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%" fxLayout="row wrap"
      fxLayoutAlign="center center" [@FadeInOut]>
      <h1>{{ 'publications' | transloco }}</h1>

    </div>

    <mat-divider fxFlex="1 1 100%"></mat-divider>

    <article>
      <div class="container" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 100%" [@FadeInOut]>
        <div *ngFor="let d of data" class="item" fxLayout="row wrap" fxLayoutAlign="center" style="margin: 1%; padding: 1%;" fxFlex="1 1 98%" fxFlex.lt-md="1 1 100%">

          <div fxFlex="1 1 40%" class="item mat-elevation-z">
            <a [href]="d.link" target="_blank" style="text-transform: uppercase;text-decoration: none;">
              <img fxFlex="1 1 80%" fxFlex.lt-md="1 1 90%" [src]="d.logo" />
            </a>
          </div>

          <div fxFlex="1 1 60%" class="mat-elevation-z">
            <p>
              {{d.description}}
            </p>
          </div>

        </div>
      </div>
    </article>

  </div>

</div>
