.gray {
  background-color: "#fff";
}

.white {
  background-color: "#fff";
}

.item {
  background-color: #348b53;
  color: white;
  padding: 25px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 600px;
}
p.carer,
h1.mat-h1 {
  color: white;
}

h2.mat-h2 {
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}
