<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >

  <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">EXTENSION UNIVERSITARIA</h1>
      <p>
          La extensión universitaria constituye un proceso sustantivo de carácter primordial en la vida del centro, que promueve y eleva la cultura general de la comunidad universitaria y de su entorno social.
      </p>
  </div>

    <div class="item" fxFlex="1 1 45%" fxFlex.lt-md="1 1 100%">
        <h1 class="mat-h1">Cultura</h1>
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><p class="item" class="item"> Programas de Salud (prevención de enfermedades de transmisión sexual/ VIH/ SIDA; tuberculosis; violencia de género; promoción de hábitos saludables de vida, entre otros)</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Programa de Promoción de Lectura.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Revitalización del Programa del Audiovisual.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Programa de Patrimonio Cultural Universitario.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Atención a las Cátedras Universitarias del Adulto Mayor (CUAM)</p>
          </mat-list-item>

          <mat-list-item role="listitem"
            ><p class="item">Cátedra Honorífica de Los Hermanos Saíz.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Programa de Matutinos, Actos y Eventos.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Cursos extensionistas.</p>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><p class="item">Asesoramiento de cursos extensionistas, escuelas de verano, campamentos de verano, plan vacacional, etc.</p>
          </mat-list-item>

        </mat-list>
      </div>

      <div class="item" fxFlex="1 1 45%" fxFlex.lt-md="1 1 100%">
          <h1 class="mat-h1">Proyectos</h1>
          <mat-list role="list">
            <mat-list-item role="listitem"
              ><p class="item" class="item"> Proyecto Extensionista: “Rescate de la memoria histórica y la identidad pinareña”</p>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><p class="item">Proyecto Sociocultural: “Literatura artística en la Universidad y la Comunidad”.</p>
            </mat-list-item>
            <mat-list-item role="listitem"
              ><p class="item">Proyecto de Investigación: Saludarte: Estrategia para la promoción y educación de la salud.</p>
            </mat-list-item>

          </mat-list>
        </div>


  </div>
</article>
