

.item {

  padding: 25px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 600px;
}


h2.mat-h2 {
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}
