.sidenav-container {
  min-height: 98vh;
  height: auto;
  overflow-y: auto;
}

.item {
  min-height: 90vh;
}

.mat-button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
}

.mat-drawer-content {
  overflow: hidden;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1024;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.nav-sidebar {
  min-height: auto;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.sidenav-container {
  height: 100%;
}

.button-text {
  text-transform: uppercase;
  color: #888687;
}

.navbar {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
  position: sticky;
  z-index: 1025;
}

button.toggle {
  cursor: pointer;
}

.navbar-sidebar {
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

mat-sidenav {
  position: fixed;
}

.logo-sidenav {
  width: 160px;
  padding-right: 10px;
  padding-left: 10px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
}

.logo {
  width: 150px;
  padding-top: 9px;
}

mat-toolbar button.active,
mat-toolbar a.active {
  background: rgba(27, 26, 26, 0.2);
  padding-top: 13.5px;
  padding-bottom: 13px;
}

mat-toolbar button.mat-button,
mat-toolbar a.mat-button {
  padding-top: 13.5px;
  padding-bottom: 13px;
}

a.active {
  background: rgba(27, 26, 26, 0.2);
}

footer > .mat-toolbar {
  white-space: normal;
  padding-top: 20px;
  height: 80px;
}

.icons{
  padding-top: 10px;
  margin-left: 5px;
}

.nav-items {
  margin-left: 2px;
  margin-right: 2px;
}

.router {
  padding-top: 65px;
}
