<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
    <div style="padding-top: 10px;" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%" fxLayout="row wrap"
      fxLayoutAlign="center center" [@FadeInOut]>
      <h1>{{ 'scientificcouncil' | transloco }}</h1>

    </div>

    <mat-divider fxFlex="1 1 100%"></mat-divider>

    <article>
      <div class="container" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 100%" [@FadeInOut]>
        <div *ngFor="let data of ccd" class="item" fxLayout="row wrap" fxLayoutAlign="center center" style="margin: 1%; padding: 1%;" fxFlex="1 1 48%" fxFlex.lt-md="1 1 100%">

          <div fxFlex="1 1 30%">
            <img width="80%" src="./assets/img/default-user.png">

          </div>

          <div fxFlex="1 1 70%">
            <h3>{{data.cargo}}</h3>
            <h4>{{data.nombre}}</h4>
            <a>{{data.telefono}}</a>
          </div>

        </div>
      </div>
    </article>

    <mat-divider fxFlex="1 1 100%"></mat-divider>

    <div style="padding-top: 10px;" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%" fxLayout="row wrap"
      fxLayoutAlign="center center" [@FadeInOut]>
      <h2>{{ 'members' | transloco }}</h2>
    </div>

    <article>
      <div class="container" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 100%" [@FadeInOut]>
        <div *ngFor="let data of cc" class="item" fxLayout="row wrap" fxLayoutAlign="center center" style="margin: 1%; padding: 1%;" fxFlex="1 1 48%" fxFlex.lt-md="1 1 100%">

          <div fxFlex="1 1 30%">
            <img width="80%" src="./assets/img/default-user.png">

          </div>

          <div fxFlex="1 1 70%">
            <h3>{{data.nombre}}</h3>
            <h4>{{data.facultad}}</h4>
            <a>{{data.telefono}}</a>
          </div>

        </div>
      </div>
    </article>

  </div>

</div>
