<!-- <header class="header" [ngClass]="color">

    <div class="container" fxLayout="row wrap" fxLayoutAlign="center center">

        <div class="item" fxFlex="1 1 65%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center" fxLayout="column wrap">

          <div class="item" fxFlex="1 1 70%">
            <h1 ngClass.lt-md="mat-h1-lt-xs" ngClass.md="mat-h1-md" ngClass.gt-md="mat-h1-gt-md" style="font-size: 60px;" [@EnterLeft]="'flyIn'">{{"welcome" | transloco}}</h1>
          </div>

          <div class="item" fxFlex="1 1 70%">
            <h2 class="mat-h2" [@EnterLeft]="'flyIn'">Slogan (sembrando pinos nuevos)...</h2>
          </div>

          <div class="item" fxFlex="1 1 40%">
            <button *ngIf="color === 'green'" routerLink="/college" mat-raised-button [@EnterLeft]="'flyIn'">{{"start" | transloco}}</button>

            <button *ngIf="color === 'white'" routerLink="/college" color="primary" style="color: white;" mat-raised-button [@EnterLeft]="'flyIn'">{{"start" | transloco}}</button>
          </div>

        </div>
        <div class="item" fxFlex="1 1 35%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center">

          <picture [@EnterRight]="'flyIn'">

                img[src.xs],    img[src.sm],    img[src.md],    img[src.lg],   img[src.xl],
                img[src.lt-sm], img[src.lt-md], img[src.lt-lg], img[src.lt-xl],
                img[src.gt-xs], img[src.gt-sm], img[src.gt-md], img[src.gt-lg]

            <img *ngIf="color === 'white'" src="./assets/img/logo_600x500.png" src.lt-md="./assets/img/logo_350x250.png"/>

            <img *ngIf="color === 'green'" src="./assets/img/logo_white_600x500.png" src.lt-md="./assets/img/logo_white_350x250.png"/>
          </picture>

        </div>

      </div>

</header> -->

<header class="banner" style="
  background-image: url('./assets/img/portada.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;">

  <div class="container" fxLayout="row wrap" style="height: 95vh; background-color: rgba(16, 98, 42, .8);"
    fxLayoutAlign="center center">
    <div class="cover-transp" fxFlex="1 1 33%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center  center">
      <picture [@EnterRight]="'flyIn'">
        <img width="100%" src="./assets/img/logos/logo-white.png" src.lt-md="./assets/img/logos/logo-white.png" />
      </picture>

      <!-- <video  autoplay width="100%" src="./assets/videos/animate-logo.mp4"></video> -->

    </div>
  </div>
</header>

<br />
<br />

<article>
  <div class="container-numbers" fxLayout="row wrap" fxLayoutAlign="center center" >

    <div class="item" style="background-color: #486920" fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%" [@EnterLeft]="'flyIn'" fxLayout="row wrap"
      fxLayoutAlign="start start" fxLayoutAlign.lt-md="start start">

      <div style="padding: 15px;" fxFlex="1 1 100%">
        <h1 class="mat-h1" style="color: white; text-transform: uppercase;">{{"students" | transloco}}</h1>

        <mat-divider style="border-top-color: white;"></mat-divider>

        <br>

        <h1 class="mat-h1" style="color: white;">{{'undergraduate' | transloco}}: {{numbers.undergraduate}}</h1>
        <h1 class="mat-h1" style="color: white;">{{'postgraduate' | transloco}}: {{numbers.postgraduate}}</h1>

        <br />
      </div>

    </div>

    <hr>

    <div class="item" style="background-color: #0063a6" fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%" [@EnterLeft]="'flyIn'" fxLayout="row wrap"
      fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center">

      <div style="padding: 15px;" fxFlex="1 1 100%">
        <h1 class="mat-h1" style="color: white; text-transform: uppercase;">{{"profesors" | transloco}}</h1>

        <mat-divider style="border-top-color: white;"></mat-divider>

        <br>

        <h1 class="mat-h1" style="color: white;">{{'profesors' | transloco}}: {{numbers.profesors}}</h1>
        <h1 class="mat-h1" style="color: white;">{{'masters' | transloco}}: {{numbers.masters}}</h1>
        <h1 class="mat-h1" style="color: white;">{{'doctors' | transloco}}: {{numbers.doctors}}</h1>

        <br />
      </div>

    </div>

    <hr>

    <div class="item" style="background-color: #5a2234" fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%" [@EnterLeft]="'flyIn'" fxLayout="row wrap"
      fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center">

      <div style="padding: 15px;" fxFlex="1 1 100%">
        <h1 class="mat-h1" style="color: white; text-transform: uppercase;">{{"investigation" | transloco}}</h1>

        <mat-divider style="border-top-color: white;"></mat-divider>

        <br>

        <h1 class="mat-h1" style="color: white;">{{'magazine' | transloco}}: {{numbers.magazine}}</h1>
        <h1 class="mat-h1" style="color: white;">{{'study_center' | transloco}}: {{numbers.study_center}}</h1>
        <h1 class="mat-h1" style="color: white;">{{'projects' | transloco}}: {{numbers.projects}}</h1>

        <br />
      </div>

    </div>

  </div>
</article>

<br />
<article [ngClass]="otherColor">
  <app-events></app-events>
</article>

<br />

<app-news [ngClass]="color"></app-news>

<br />

<article [ngClass]="otherColor">
  <app-interest></app-interest>

</article>

<br />

<article [ngClass]="color">
  <div class="container-links" fxLayout="row wrap" fxLayoutAlign="start start" [@FadeInOut]>
    <div class="item-links" fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">{{'contact' | transloco}}</h2>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <span>Calle Martí # 300 e/ González Alcorta y 27 de Noviembre.
            Pinar del Río
            Cuba
            CP: 20100</span>
        </mat-list-item>

        <mat-list-item role="listitem">
          <span>Teléfono: (+53) 48779350</span>
        </mat-list-item>

        <mat-list-item role="listitem">
          <a class="link"
            href="mailto://dcom.upr.edu.cu">dcom@upr.edu.cu</a>
        </mat-list-item>

      </mat-list>
    </div>


    <div class="item-links" fxFlex="1 1 50%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">{{'interest' | transloco}}</h2>

      <mat-list role="list">
        <mat-list-item role="listitem"><a class="link" href="http://www.mes.gob.cu/">Ministerio de Educación
            Superior</a></mat-list-item>
        <mat-list-item role="listitem"><a class="link"
            href="https://www.ecured.cu/EcuRed:Enciclopedia_cubana">Ecured</a></mat-list-item>
        <mat-list-item role="listitem"><a class="link" href="http://www.cubadebate.cu/">Cubadebate</a></mat-list-item>
        <mat-list-item role="listitem"><a class="link"
            href="http://www.unavarra.es/relacionesinternacionales/erasmus-paises-asociados">Programa Erasmo</a>
        </mat-list-item>
      </mat-list>

    </div>
  </div>
</article>
