<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
    <div style="padding-top: 10px;" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%" fxLayout="row wrap"
      fxLayoutAlign="center center" [@FadeInOut]>
      <h1>{{ 'linesinvestigation' | transloco }}</h1>

    </div>

    <mat-divider fxFlex="1 1 100%"></mat-divider>

    <article>
      <div class="container" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 100%" [@FadeInOut]>
        <div *ngFor="let data of lines" class="item" fxLayout="row wrap" fxLayoutAlign="center center" style="margin: 1%; padding: 1%;" fxFlex="1 1 48%" fxFlex.lt-md="1 1 100%">

          <div fxFlex="1 1 100%">

            <h3>{{data.name}}</h3>
            <h4>{{data.coordinator.grade}} {{data.coordinator.name}}</h4>
            <a [href]="'mailto://'+data.coordinator.email">{{data.coordinator.email}}</a>
          </div>

        </div>
      </div>
    </article>

  </div>

</div>
