<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >

   <div class="item" fxFlex="1 1 45%" fxFlex.lt-md="1 1 100%">
        <h1 class="mat-h1">UPredes</h1>
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><a href="https://correo.upr.edu.cu" class="item" class="item"> Correo Profesores</a>
          </mat-list-item>
          <mat-list-item role="listitem"
            ><a href="https://estudiantes.upr.edu.cu" class="item" class="item"> Correo Estudiantes</a>
          </mat-list-item>

        </mat-list>
      </div>

      <div class="item" fxFlex="1 1 45%" fxFlex.lt-md="1 1 100%">
          <h1 class="mat-h1">CRAI</h1>
          <mat-list role="list">
            <mat-list-item role="listitem"
              ><a href="https://crai.upr.edu.cu/"class="item" class="item">Centro de Recursos para el Aprendizaje y la Investigación</a>
            </mat-list-item>

          </mat-list>
        </div>


  </div>
</article>
