<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxFlex="1 1 85%" fxFlex.lt-md="1 1 100%" fxLayoutAlign="center center">
    <div style="padding-top: 10px;" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%" fxLayout="row wrap"
      fxLayoutAlign="center center" [@FadeInOut]>
      <h1>{{ 'extension' | transloco }}</h1>

    </div>

    <mat-divider fxFlex="1 1 100%"></mat-divider>

    <article>
      <div class="container" fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="1 1 100%" [@FadeInOut]>
        <div *ngFor="let d of data" class="item" fxLayout="row wrap" fxLayoutAlign="start start" style="margin: 1%; padding: 1%;" fxFlex="1 1 48%" fxFlex.lt-md="1 1 100%">

          <div fxFlex="1 1 100%" class="item mat-elevation-z">
            <h1 class="mat-h1">{{d.type}}</h1>
            <ul style="list-style: none;">
              <li *ngFor="let item of d.list">
                <a class="service-item" [href]="item.link" target="_blank" style="text-decoration: none;">
                  <h3 class="mat-h3">
                    {{ item.name }}
                  </h3>
                </a>
                </li>
            </ul>
          </div>

        </div>
      </div>
    </article>

  </div>

</div>

