
.container {
  padding: 30px 30px 10px 30px;
}

.item {
  margin: 5px;
}

.green {
  background: linear-gradient(100deg, #13632f, #00c853);
  color: white;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.white {
  background: linear-gradient(100deg, #fff, #fff);
  color: #13632f;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

p.carer {
  color: #13632f;
}
