<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Cultura Física</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        La Facultad de Cultura Física "Nancy Uranga Romagoza" es el centro de
        nivel superior encargado de dirigir la formación de profesionales y
        especialistas de alto nivel científico técnico en la rama de la Cultura
        Física y el Deporte en la provincia de Pinar del Río, con un elevado
        compromiso y responsabilidad social con el pueblo, la revolución y la
        colaboración internacional.
      </p>
      <p>
        Posee un claustro a tiempo completo de 165 docentes de ellos 12 Doctores
        en Ciencias, 130 Master en diferentes ciencias fundamentalmente en
        Actividad Física y Deporte, que guía la formación de los futuros
        profesionales en correspondencia con la estrategia maestra, determinada
        por la labor política ideológica como centro de la planeación
        estratégica.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Formar profesionales competentes y comprometidos con el proyecto
        socialista cubano. Universalizar los estudios de la Cultura Física y el
        Deporte a todo el ámbito provincial promoviendo la formación profesional
        y el postgrado, como un proceso continuo, la investigación científica y
        una cultura general integral. Generar y sistematizar conocimientos,
        tecnologías y experiencias de la Cultura Física y el Deporte.
      </p>
      <h2 class="mat-h2">Visión</h2>
      <p>
        Ser una Universidad acreditada de excelencia en todos sus procesos
        sustantivos. Ser líder en la aplicación consecuente de la política
        científica y tecnológica que facilite la satisfacción de la demanda de
        Ciencia e Innovación Tecnológica del deporte en la provincia. Ser centro
        de referencia de la Cultura Física y el Deporte en el ámbito provincial,
        nacional, latinoamericano y mundial.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">
              Licenciatura en Cultura Física (Certificada)</p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Educación Media</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        La Facultad de Educación Media (FEM), de nueva creación, se constituye a
        raíz del Proceso de Integración de la Educación Superior en nuestra
        Provincia de Pinar del Río. Convergen en la base conformacional de la
        actual FEM, fruto de un proceso armónico y coherente de estructuración,
        las Facultades de Ciencias, Humanidades y la carrera de Educación
        laboral e Informática de la Facultad de Ciencias Técnicas de la antigua
        Universidad de Ciencias Pedagógicas “Rafael María de Mendive”. En la FEM
        se lleva a cabo la formación de los Licenciados en Educación en
        diferentes Especialidades que se desempeñarán en los subsistemas
        educativos de Secundaria Básica, Preuniversitario y la Enseñanza Técnica
        y Profesional.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Satisfacer las necesidades de formación de profesionales de la educación
        de nivel superior de la provincia de Pinar del Río y su superación
        continua, en las especialidades Matemática-Física, Biología-Geografía,
        Biología-Química, Español-Literatura, Marxismo Leninismo e Historia,
        Educación Laboral e Informática, Lenguas Extranjeras, Química, Biología,
        Geografía, Matemática, Física, Informática y Educación Laboral a partir
        de la integración de los procesos sustantivos universitarios, orientados
        a garantizar un egresado con una sólida cultura política, ideológica,
        socio-humanista, ambiental y económica, con elevadas competencias
        profesionales, aportando a su vez resultados científico técnicos que
        contribuyan al desarrollo sostenible de la Educación del territorio.
      </p>
      <h2 class="mat-h2">Visión</h2>
      <p>
        Constituimos la vanguardia en las ciencias pedagógicas en la provincia a
        partir del elevado nivel de desarrollo profesional y alto sentido de
        pertenencia a la Facultad de profesores, estudiantes y trabajadores,
        fruto de la unidad y cohesión lograda por los cuadros de la Facultad al
        conducir de manera efectiva los procesos sustantivos lo que se expresa
        en positivas relaciones interpersonales que redundan en un favorable
        ambiente sociopolítico. Forma profesionales integrales con alta
        preparación científico-técnica con la misión de transformar la Educación
        en la Provincia y comprometidos con el sistema social cubano y defensor
        de la Revolución y de sus conquistas a partir de la gestión de un
        claustro con elevada unidad de acción, fruto del desarrollo de un
        pensamiento inter y trans-disciplinar de sus miembros, que les permita
        concretar acciones de colaboración con instituciones nacionales e
        internacionales a partir de la gestión eficiente de proyectos de
        investigación los que constituyen la fuente principal de financiamiento
        así como la comercialización de la carpeta de productos y servicios que
        se generan. Se logra un reconocimiento en el territorio y en el país a
        partir de la acreditación de las Carreras y figuras del postgrado que se
        gestionan en la Facultad.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Español Literatura
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Marxismo Leninismo e Historia
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Biología Geología
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Biología Química
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Laboral
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Biología
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Geografía
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Química
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Matemática
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Física
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Educación Infantil</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        La Facultad de Educación Infantil se fundó a inicios de los años 90, a
        partir de la integración de las carreras de Licenciatura en Educación
        Primaria, Educación Preescolar y Educación Especial. Estas ya se
        desarrollaban desde las facultades de Educación Primaria, Pedagogía y
        Defectología, respectivamente. Actualmente la facultad incluye siete
        carreras: Educación Primaria, Preescolar, Especial, Logopedia,
        Pedagogía-Psicología, Educación Artística e Instructores de Arte las
        cuales se desarrollan por las modalidades de curso diurno (CRD) y cursos
        por encuentros (CE). Atiende la formación de nivel básico superior en
        1er año de la carrera Preescolar y tiene incidencia en la formación de
        personal docente de nivel medio en la Escuela Pedagógica. De igual
        manera se atiende toda la formación postgraduada de los docentes, tanto
        para garantizar el desarrollo de nuestros profesores como de los
        maestros del territorio y las diferentes estructuras existentes a nivel
        provincial y municipal. La Facultad se ha caracterizado, en los últimos
        años, por protagonizar un desarrollo progresivo en los procesos de
        profesionalización de su claustro, lo que se concreta en el número de
        Doctores en Ciencia Pedagógicas, Máster en diferentes áreas del
        conocimiento y en profesores con categorías docentes superiores. Estos
        cuadros científicos han asumido las principales tareas de dirección y
        metodológicas, así como en la dirección de diferentes proyectos de
        investigación. Cuadros científicos formados en la Facultad, forman parte
        hoy del Consejo de Dirección de la UPR y de sus departamentos o son
        cuadros del nivel central del MINED. La facultad obtuvo en el curso
        2010-2011, 2011-2012, 2013-2014 la condición de “Más Destacada” por los
        resultados en todos los procesos sustantivos que en ella se desarrollan.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión y Visión</h2>
      <p>
        Preservar, desarrollar y promover la cultura de la humanidad a través de
        sus procesos sustantivos, para la formación con calidad y rigor del
        personal docente de las carreras: Licenciatura en Educación Primaria,
        Preescolar, Pedagogía-psicología, Educación Artística, Logopedia,
        Especial e Instructores de Arte de la provincia de Pinar del Río para
        dar respuesta a las necesidades educativas en cada uno de los municipios
        del territorio.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Primaria (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Especial (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Preescolar (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Logopedia (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Pedagogía- Psicología (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Instructores de Arte
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Ciencias Económicas y Empresariales</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        Los estudios económicos comienzan en la provincia a los años 1969 y 1970
        siendo una sede de la Universidad de La Habana y un poco más tarde en el
        año 1977 se incorpora la carrera de Contabilidad y Finanzas. Ambas
        carreras con una antigüedad de más de 30 años tienen el mayor
        protagonismo en la facultad, toda vez que las carreras de Lic. Turismo e
        Ing. Industrial son de reciente incorporación con 6 y 4 años
        respectivamente.
      </p>
      <p>
        El claustro ha sido prestigiado por profesores como: Dr. José Luis
        Rodríguez, Dr. Ramón Sánchez Noda, Lic. Roberto Verrier Castro, Dr.
        Alfredo Jam, Dr. Luciano Vasapollo (Italia), MSc. Jorge Zubizarreta
        Hernández, Lic. Rolando Roque Nodarse, Dr. Raúl Fullana, Dr. Raúl
        Garrido, Dr. Alfonso Casanova, Lic. Joaquín Remedios García, Lic.
        Dagoberto Perugorría, Dr. Francisco Borrás Atiénzar, Dr. Pedro Fernández
        de Córdova, Dr. Armando Cuesta Santos, entre otros. Durante todos estos
        años se han formado en nuestras aulas 4 987 profesionales en el pregrado
        de toda la provincia y un considerable número de países. Un porcentaje
        elevado de ellos han ocupado u ocupan en estos momentos
        responsabilidades a distintos niveles en la provincia y el país.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Satisfacer las necesidades de formación de profesionales de nivel
        superior y su superación continua en las Ciencias Económicas,
        Empresariales y de la Educación con énfasis en la formación profesoral
        para estas ciencias, a partir de la integración de los procesos
        sustantivos y de apoyo, que garantizan egresados con elevadas
        competencias profesionales, comprometidos con la Revolución y con una
        cultura integral, así como la capacitación y superación de cuadros, la
        asesoría a los gobiernos y empresas, y la generación e implementación de
        resultados científico-técnicos que impacten en el desarrollo
        socioeconómico de la provincia de Pinar del Río y otros territorios del
        país.
      </p>
      <h2 class="mat-h2">Visión</h2>

      <p>
        Somos una facultad certificada, innovadora y desarrolladora, reconocida
        a nivel nacional e internacional, caracterizada por la gestión del
        conocimiento y la innovación de forma integrada entre sus procesos y
        actividades, para lograr el perfeccionamiento de los mismos y un elevado
        impacto en la sociedad y en el desarrollo sostenible de la provincia de
        Pinar del Río y otros territorios del país, con énfasis en las Ciencias
        Económicas y Empresariales, la formación profesoral para estas ciencias,
        la Gestión, el Desarrollo Local, el Turismo, el Cooperativismo y la
        superación de cuadros.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">Ingeniería Industrial</p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Economía (Excelencia)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Contabilidad y Finanzas (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Economía
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Ciencias Técnicas</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        En 1986, en ocasión de la celebración del día del trabajador en nuestra
        provincia, el Comandante en Jefe, Fidel Castro Ruz, hace referencia a la
        necesidad de formar profesionales en el campo de la Electrónica y de la
        Mecánica para satisfacer la demanda de profesionales del recién creado
        Combinado de Componentes Electrónico y de la Empresa de Piezas de
        Repuesto de nuestra provincia. De esta forma, en el curso 86-87, se crea
        en la Universidad de Pinar del Río la Facultad de Ciencias Técnicas con
        tres especialidades, la Ingeniería en Geología que ya se impartía desde
        el curso 85-86, la Ingeniería en Equipos y Componentes Electrónicos (que
        desaparece a partir del curso 90-91 por el surgimiento de la Ingeniería
        en Telecomunicaciones y Electrónica) y la Ingeniería en Construcción de
        Maquinarias (que desaparece a partir del curso 90-91 por el surgimiento
        de la Ingeniería Mecánica).
      </p>
      <p>
        En el año 2001 inicia la carrera de Ingeniería Informática en la
        Universidad de Pinar del Río y por este motivo se decide por la
        dirección de nuestro centro crear dos nuevas Facultades, la de Geología
        y Mecánica (FGM) y la de Informática y Telecomunicaciones (FIT). La
        primera de ellas con las Ingenierías Mecánica y Geología y la segunda
        con las Ingenierías Informática y la de Telecomunicaciones y
        Electrónica, desapareciendo la Facultad de Ciencias Técnicas. Con el
        análisis de nueva estructura en la Universidad de Pinar del Río en el
        año 2011, se decide iniciar el curso 2011-2012 con la integración de las
        dos Facultades antes mencionadas y vuelve a surgir así la Facultad de
        Ciencias Técnicas, ahora con cuatro carreras, seis departamentos y un
        centro de estudio.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Contribuir al proyecto socialista cubano, satisfaciendo las necesidades
        de formación de profesionales de nivel superior y su superación continua
        en las Ingenierías de Telecomunicaciones y Electrónica, Informática y
        Mecánica de la provincia de Pinar del Río y en la Ingeniería en Geología
        para todo el occidente y centro del país como también satisfacer las
        necesidades de formación básica en Matemática y Física de todas las
        carreras de nuestra Universidad.
      </p>
      <p>
        A partir de la integración de todos los procesos y actividades,
        orientados a garantizar un egresado con una sólida cultura política,
        ideológica, socio-humanista, económica y ambiental con altas
        competencias profesionales, aportando resultados científico técnicos que
        contribuyan desde el punto de vista de su especialidad al desarrollo del
        territorio.
      </p>
      <h2 class="mat-h2">Visión</h2>

      <p>
        Lograr un alto sentido de pertenencia a la Facultad, con elevada unidad
        de acción y trabajo en equipo de los profesores y estudiantes. Formar
        profesionales integrales con una alta preparación científico-técnica con
        la misión de transformar la sociedad y comprometidos con el sistema
        social cubano y defensores de la revolución y de sus conquistas.
      </p>
      <p>
        Se incrementan las acciones de colaboración con instituciones nacionales
        e internacionales, como resultado del nivel alcanzado por el claustro.
        Se logra un reconocimiento en el territorio y en el país a partir de los
        resultados de investigación en su impacto en el proceso de formación de
        Pregrado y Postgrado en la Universidad. Se incrementan las fuentes de
        financiamiento a partir de la aprobación de proyectos nacionales e
        internacionales y la comercialización de la carpeta de productos y
        servicios. Se dispone de un potencial científico – técnico comprometido
        con la patria que se empeña y logra alcanzar resultados satisfactorios
        en el plano territorial y nacional.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">Ingeniería Mecánica (Certificada)</p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Ingeniería en Telecomunicaciones y Electrónica (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Ingeniería Informática (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Ingeniería Geológica (Certificada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Eléctrica
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Construcción
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Laboral e Informática
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">Licenciatura en Educación Laboral</p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Informática
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Ciencias Forestales y Agropecuarias</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        Esta Facultad es fundadora de la Universidad de Pinar del Río.
        Actualmente, lleva a cabo la formación de los Ingenieros Forestales en
        modalidad presencial y semipresencial, Ingenieros Agrónomos para
        modalidad presencial y por encuentro, Ingeniería en Procesos
        Agroindustriales modalidad semipresencial, e Ingeniería Agropecuaria
        para la modalidad semipresencial.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Satisfacer las necesidades de formación de profesionales de nivel
        superior de la provincia de Pinar del Río y su superación continua, en
        las ramas agropecuarias,  a partir de la integración de todos los
        procesos sustantivos  y actividades de apoyo, orientados  a garantizar
         un egresado con una sólida cultura política, ideológica,
        socio-humanista, ambiental y económica, con elevadas competencias
        profesionales, aportando a  su vez, resultados científico técnicos que
        contribuyan al desarrollo sostenible del territorio.
      </p>
      <h2 class="mat-h2">Visión</h2>

      <p>
        Somos una Facultad que alcanza reconocimiento nacional e internacional
        por la calidad de los resultados en sus procesos. Formamos profesionales
        integrales, competentes, reconocidos nacional e internacionalmente, de
        amplia formación humanística, portadores de una cultura general,
        comprometidos con la Patria y la Revolución Cubana. Fortalecemos los
        procesos de integración e incrementamos el ingreso a las carreras, las
        que se consolidan y acreditan nacionalmente, logrando un alto impacto en
        la sociedad pinareña. Satisfacemos con calidad la demanda de formación
        continua de los profesionales del territorio, a partir de programas de
        postgrado propios, los que se consolidan y acreditan. Son reconocidos a
        nivel territorial y nacional el papel y los resultados de la Facultad en
        la gestión de la ciencia y la innovación, en particular en las áreas de:
        desarrollo forestal sostenible, producción sostenible de alimentos,
        desarrollo local. Continuamos las transformaciones en la gestión de la
        extensión universitaria, aplicando su concepción de proceso formativo.
        Incrementamos las relaciones con los países desarrollados y se
        consolidan con América Latina y el Caribe, fortaleciéndose nuestra
        imagen internacional. Somos un referente nacional en la gestión de los
        procesos internos de la universidad.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">Ingeniería Forestal (Excelencia)</p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Ingeniería en Agronomía (Excelencia)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Agronomía de Montaña (Avalada)
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Agropecuaria
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>

<article [ngClass]="color">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 100%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Facultad de Ciencias Sociales y Humanidades</h1>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [@fadeInOut]
  >
    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Historia</h2>

      <p>
        En la Universidad de Pinar del Río (UPR), el surgimiento de la Facultad
        de Ciencias Sociales y Humanísticas (FCSH), tiene como antecedente la
        creación de la Licenciatura en Estudios Socioculturales en el curso
        1999-2000, la cual en sus dos primeros años perteneció a la entonces
        Facultad de Ciencias Económicas. Esta carrera era resultado de la
        situación socioeconómica del país en la década de 1990, donde se hacía
        necesaria la descentralización de la cultura y el enfrentamiento a las
        problemáticas que se produjeron en la vida material y espiritual de la
        sociedad, sobre todo en aquellos territorios donde existían
        universidades solamente de especialidades técnicas y económicas e
        insuficiencia de propuestas de estudios superiores a promotores,
        instructores, entre otros trabajadores de la cultura. Unido a la
        realidad anterior, el concepto de “nueva universidad cubana” que se
        desarrolla a partir del año 2000, redimensionando las premisas del
        proceso de universalización de la Revolución: el acceso pleno a la
        cultura acumulada por la humanidad en relación con el desarrollo local;
        lo que permitió el surgimiento de la FCSH en el curso 2002-2003 con las
        siguientes carreras y modalidades: Estudios Socioculturales (modalidad
        presencial y semipresencial), Derecho (modalidad presencial y
        semipresencial), Psicología, Sociología, Bibliotecología y Ciencias de
        la Información, Comunicación Social e Historia (modalidad
        semipresencial). A partir del año 2009, se incorpora la carrera de
        Periodismo solamente en la modalidad presencial.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h2 class="mat-h2">Misión</h2>
      <p>
        Contribuir al proyecto socialista cubano desde la base marxista
        leninista, satisfaciendo las necesidades de formación de profesionales
        de nivel superior en el área de la Ciencias Sociales y Humanísticas de
        la provincia de Pinar del Río y su superación continua, a partir de la
        integración de todos sus procesos y actividades, orientados a garantizar
        un egresado con una sólida cultura política, ideológica,
        socio-humanista, económica y ambiental con elevadas competencias
        profesionales, aportando a su vez resultados científico técnicos que
        contribuyan desde el punto de vista de su especialidad al desarrollo
        sostenible del territorio.
      </p>
      <p>
        A partir de la integración de todos los procesos y actividades,
        orientados a garantizar un egresado con una sólida cultura política,
        ideológica, socio-humanista, económica y ambiental con altas
        competencias profesionales, aportando resultados científico técnicos que
        contribuyan desde el punto de vista de su especialidad al desarrollo del
        territorio.
      </p>
      <h2 class="mat-h2">Visión</h2>

      <p>
        Somos una Facultad que alcanza reconocimiento provincial, nacional e
        internacional por la calidad de los resultados en sus procesos. Formamos
        profesionales integrales, competentes, reconocidos nacional e
        internacionalmente, de amplia formación humanística, portadores de una
        cultura general, comprometidos con la Patria y la Revolución Cubana.
        Fortalecemos los procesos de integración e incrementamos el ingreso a
        las carreras de las Ciencias Sociales y Humanísticas, las que se
        consolidan y acreditan nacionalmente, logrando un alto impacto en la
        sociedad pinareña. Satisfacemos con calidad la demanda de formación
        continua de los profesionales del territorio, a partir de programas de
        postgrado propios y externos.
      </p>
      <p>
        Logramos resultados de impacto en la preparación y superación continua
        de los directivos del estado, gobierno y del sistema empresarial en
        temáticas jurídicas, socioculturales, comunicacionales, psicológicas,
        entre otras. Son reconocidos a nivel territorial y nacional el papel y
        los resultados de la Facultad en la gestión de la ciencia y la
        innovación, en particular en las áreas de: desarrollo humano local,
        ciencias sociales y humanidades. Continuamos las transformaciones en la
        gestión de la extensión universitaria, aplicando su concepción de
        proceso formativo. Incrementamos las relaciones con los países
        desarrollados y se consolidan con América Latina y el Caribe,
        fortaleciéndose nuestra imagen internacional.
      </p>
    </div>

    <div class="item" fxFlex="1 1 32%" fxFlex.lt-md="1 1 100%">
      <h1 class="mat-h1">Carreras</h1>
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><p class="carer">Licenciatura en Derecho</p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Gestión Sociocultural para el Desarrollo
          </p></mat-list-item
        >
        <mat-list-item role="listitem"
          ><p class="carer">
            Licenciatura en Educación Lenguas Extranjeras
          </p></mat-list-item
        >
      </mat-list>
    </div>
  </div>
</article>
